@font-face {
    font-family: "Chiswick Sans Poster";
    src: url(../fonts/ChiswickSansPoster-Bold.otf);
  }
  
  @font-face {
    font-family: "luz-sans";
    src: url(../fonts/LUZHPLRO.TTF);
  }
  
  @font-face {
    font-family: architectura;
    src: url(../fonts/Arquitecta%20W04%20Bk.ttf)
  }

  body {
      font-family: "architectura";
      font-size: 10px;
  }

  /**
   * header 
   */

#logo {
    width: 200px;
    margin: 0 auto;
    display: block;
}

#intro-story {
    font-family: "architectura";
    font-size: 4em;
    width: 40%;
    margin: 3em auto 1em auto;
    text-align: center;
}

#heart {
    margin: 0 auto;
    display: block;
}

/**
 * chapter
 */

.chapter {
    display:flex;
}

/**
 * vendors
 */

header {
     font-family: "Chiswick Sans Poster";
     line-height: 1em;
 }
header h2 {
    font-size: 1.8em
}
header h1 {
    font-size: 4.8em
}

.vendor-container {
    width: 80%;
    margin: 0 auto;
}

.scroll {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll:hover {
    background-color: rgb(244, 244, 244)
}
.left-scroll {
}

.right-scroll {
}
  

 .vendor-container > header img {
     width: 100%
     /* margin: 0 auto; */
 }
.vendor-blocks {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}

.vendor-block-text {
    width: 35%;
    margin: 2%;
    padding: 0em 2em 0em 2em;
    box-sizing: border-box;
    font-size: 1.4em;
}

.vendor-block-text h2 {
    font-size: 3.6em;
    font-family: "Chiswick Sans Poster";
    line-height: 1em;
}
.vendor-block-image {
    width: 60%;
    overflow: hidden;
}

.vendor-block img {
    width: 100%;
    margin: 2em;
}

.pinkbg {
    background-color: #FFD0C4;
}

.additional-information {
    border: 1px solid black;
    background-color: Transparent;
    padding: 0.5em;
    font-family: "architectura";
    font-size: 1.3em;
}